<!DOCTYPE html >
<html lang="en">
<head>
</head>
<body>
    <form action="/user/signup" method="post">
        <label>Enter your name:</label>
        <input type ="text" name="name" id ="name" required>
        <label>Enter your email:</label>
        <input type ="email" name="email" id="email" required>
        <input type ="password" name="password" id="password" required> 
        <input type="submit" name ="submit" value="SignUp">
    </form>
    <form action="/user/login" method="get">
        <input type="submit" name ="submit" value="login">
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
    </script>
</body>
</html>